body {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 95%;
  margin: 0;
}

h1 {
  height: 80px;
  font-weight: normal;
  padding: 20px 20px 0;
  margin: 0 0 .5em;
  color: #fff;
  background: #6363c1 url(headbg.jpg) repeat-x 0 0;
}
li {
  margin-top: .5em;
  margin-bottom: .5em;
}
pre, code {
  font-size: 1em;
}
pre {
  padding: .5em;
  background-color: #eef;
}
#navigation {
  float: left;
  list-style-type: none;
  margin: -60px 0 0 20px;
  padding-left: 0;
}

#navigation li {
  float: left;
  margin: 5px 0;
  padding: 5px 0;
}
#navigation a {
  color: #fff;
  background: #6565c1;
  padding: 5px;
  text-decoration: none;
  border: 1px solid #fff;
}
#navigation a.active {
  color: #009;
  background: #fff;
  border: 1px solid #009;
  border-bottom: 1px solid #fff;
}
#container {
  clear: left;
  padding: .5em 20px;
}

.highlight {
  background: #fcc;
}
.highlighter {
  background: #ff3;
}
.back-to-top {
  display: block;
  margin-top: 1em;
  width: 7em;
}

.float-left {
  float: left;
  margin-right: .5em;
  display: inline;
  position: relative;
}
.float-right {
  float: right;
  margin-left: .5em;
  display: inline;
  position: relative;
}
h2 {
  font-size: 1.1em;
}
h3 {
  margin-top: 0;
  padding-top: 1em;
}
h4 {
  margin: .5em 0;
}
a {
  color: #009;
}
.html, .jquery {
  margin-top: .5em;
  color: #900;
  cursor: pointer;
  font-size: .9em;
  width: 8.5em;
}

ul li {
  margin: .5em 0;
}
ins {
  text-decoration: none;
  color: #090;
}
#jqlogo {
  position:absolute;
  top: 10px;
  right: 10px;
}
#jqlogo img {
  border: 0;
}